<h1 class="PageTitle">{{@title}}</h1>
<h2 class="SubTitle">{{@subtitle}}</h2>
<img style="width: 100px; height: auto;" src="https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?v=1530129081" alt="MoMoney Logo" />
<SignInWithApiList />
{{yield}}