/* * {
    text-align: center;
} */
/* .pageTitle {
  font-family: sans-serif;
  text-align: center;
  color: #27362b;
  font-size: 50px;
}

.subTitle {
  font-family: sans-serif;
  text-align: center;
  color: #616b64;
  font-style: italic;
  font-weight: lighter;
  transform: translate(10px, -20px);
  font-size: 18px;
}

.signInButton {
  color: white;
  width: 40vw;
  height: 8vh;
  border: none;
  left: 50%;
  background-color: #0f83dd; 
  font-size: 20px;
  margin-top: 30px; 
}

.welcome {
  font-family: sans-serif;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 50px;
}

.welcomeSubtitle {
  font-family: sans-serif;
  text-align: center;
  color: #616b64;
  font-weight: lighter;
  transform: translate(10px, -20px);
  font-size: 18px;
}

.getStarted { 
  color: white;
  width: 40vw;
  height: 8vh;
  border: none;
  left: 50%;
  background-color: #0f83dd; 
  font-size: 20px;
  margin-top: 30px; 
}

.transactionItem{
  font-size: 30px;
} */

/* .newExpense {
  margin-top: 50px;
} */

* {
  margin-top: 2%;
}