{{!-- The following component displays Ember's default welcome message. --}}
<h1 class="PageTitle">MoMoney</h1>
<h2 class="SubTitle">mo money no problems</h2>
<button type="button" class="SignInButton">Sign In with FreshBooks</button>
{{!-- Feel free to remove this! --}}
{{outlet}}
