<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{{!-- <link rel="stylesheet" type="text/css" href="../styles/app.css" /> --}}
<div class="container">
  <div class="row">
    <h1 class="col-8 ui header newExpense">New Expense</h1>
    <button class="col ui basic button" type="button">Cancel</button>
    <button class="col ui green button" type="button">Save</button>
  </div>
</div>

{{!-- <h2 class="ui header">here are your recent expenses:</h2> --}}

{{!-- <div class="ui form">

  <div class="field">
    <label aria-label="Add category">
        <input type="text" placeholder="Add category">
    </label>
  </div>

    <div class="ui input left icon">
        <i class="calendar icon"></i>
        <input type="text" placeholder="Date">
    </div>

    <label aria-label="Add vendor">
        <input type="text" placeholder="Add vendor">
    </label>
  

  <label aria-label="Add description (optional)">
        <input type="text" placeholder="Add description (optional)">
    </label>
 

    <div class="inline field">
        <label aria-label="Input grand total in canadian dollars"> Grand Total (CAD): </label>
        <input type="text" placeholder="$0.00">
    </div> --}}

  {{!-- <div class="inline field">
    <label>Last name</label>
    <input type="text" placeholder="Full Name">
  </div>
</div> --}}

{{!-- </div> --}}


{{outlet}}