<div class="container">
    <div class="row">
        <h1>Hello,</h1>
        <h2>here are your recent expenses:</h2>
        <button class="ui green button">New Expense</button>
    </div>
    <TransactionList />
</div>

{{outlet}}