<link integrity="" rel="stylesheet" href="app/styles/welcome.css">
<h1 class="Welcome">Welcome!</h1>
<h2 class="WelcomeSubtitle">You're one step closer to get mo money.
    Time to start adding your expenses.
</h2>
<button type="button" class="GetStarted">Get Started!</button>
{{outlet}}